<%- include ../partials/header.ejs %>

<%- include ../partials/content.ejs %>
<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a contact information
            </a>
            <br />
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-4">Email Address</th>
                    <th class="text-center col-2">Edit Information</th>
                    <th class="text-center col-2">Delete Information</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= ContactList[count].name %></td>
                        <td class="text-center col-2"><%= ContactList[count].contactnum %></td>
                        <td class="text-center col-4"><%= ContactList[count].email %></td>
                        <td class="text-center col-2">
                            <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>

            </table>
        </div>
    </div>
</main>

<%- include ../partials/footer.ejs %>