<!DOCTYPE html>
<head>
<meta charset="utf-8">
<%- include partials/header.ejs %>
</head>
<body>
<script src = "/jquery/dist/jquery.min.js"></script>
<script src = "bootstrap/dist/js/bootstrap.min.js"></script>
<%- include partials/content.ejs %>

  <main class="container">
    
    <% if (title == "Home"){ %>
    <%- include partials/Home_Page.ejs %>
    <% } %>
    <% if (title == "About"){ %>
    <%- include partials/About_Me.ejs %>
    <% } %>
    <% if (title == "Projects"){ %>
    <%- include partials/Projects_Page.ejs %>
    <% } %>
    <% if (title == "Services"){ %>
    <%- include partials/Services_Page.ejs %>
    <% } %>
    <% if (title == "Contact"){ %>
    <%- include partials/Contact_Me.ejs %>
    <% } %>

  </main>
</body>
<%- include partials/footer.ejs %>


